@import "../../global.scss";

.portfolio{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 5rem;
    }

    ul{
        margin: 0.8rem;
        padding: 0;
        list-style: none;
        display: flex;

        li{
            font-size: 1rem;
            margin-right: 2rem;
            padding: 0.7rem;
            border-radius: 10px;

            &.active{
                background-color: $mainColor;
                color: #fff;
                cursor: pointer;
            }
        }
    }

    .container{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .item{
            width: 12rem;
            height: 9rem;
            border-radius: 1.2rem;
            border: 1px solid lightblue;
            margin: 1rem 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            position: relative;
            transition: all .5s ease;
            cursor: pointer;

            h3{
                position: absolute;
                font-size: 1.2rem;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover{
                background-color: $mainColor;
                img{
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }
    }
}