.intro{
    background-color: #f7f7f7;
    display: flex;

    .left{
        flex: 0.5;
        overflow: hidden;

        .imgContainer{
            width: 700px;
            height: 700px;
            background-color: crimson;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;

            img{
                height: 100%;
            }
        }
    }

    .right{
        flex: 0.5;
        background-color: aliceblue;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 3.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: 4rem;
                margin: 0.6rem 0;
            }

            h2{
                font-size: 2.5rem;
                margin: 0.6rem 0;
            }

            h3{
                font-size: 2rem;

                span{
                    font-size: inherit;
                    color: crimson;
                }
            }
        }

        a{
            position: absolute;
            bottom: 4rem;
            left: 40%;

            img{
                width: 3rem;
                animation: arrowBlink 5s infinite;
            }

            @keyframes arrowBlink{
                100%{
                    opacity: 0;
                }
            }
        }
    }
}