@import "../../global.scss";

.intro{
    background-color: #f1faee;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .imgContainer{
            width: 700px;
            height: 700px;
            background-color: #f1faee;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;

            @include mobile{
                align-items: flex-start;
            }

            img{
                height: 100%;

                @include mobile{
                    height: 50%;
                }
            }
        }
    }

    .right{
        flex: 0.5;
        background-color: #f1faee;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 3.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
            }

            h1{
                font-size: 4rem;
                margin: 0.6rem 0;

                @include mobile{
                    font-size: 40px;
                }
            }

            h2{
                font-size: 2.5rem;
                margin: 0.6rem 0;
            }

            h3{
                font-size: 2rem;

                @include mobile{
                    font-size: 20px;
                }

                span{
                    font-size: inherit;
                    color: #e63946;
                }

                .ityped-cursor{
                    animation: blink 1s infinite;
                }

                @keyframes blink{
                    50%{
                        opacity: 0.8;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
        }

        a{
            position: absolute;
            bottom: 4rem;
            left: 40%;

            img{
                width: 3rem;
                animation: arrowBlink 5s infinite;
            }

            @keyframes arrowBlink{
                100%{
                    opacity: 0;
                }
            }
        }
    }
}