* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.App{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: blue;
    }
}